%div.panel.panelWide
	%b My Messages
	%br
	%table#messages
		%tbody
			- unless @messages == []
				-@messages.each do |message|
					%tr{:class => ("highlight" if message.status == 'unread')}
						%td= link_to "#{User.find_by_id(message.sender).username}", user_path(message.sender)
						%td= link_to "#{message.subject}", message_path(message.id)
						%td= message.created_at.strftime("%B %d, %Y")
			- else 
                %tr
                    %td= "You have no messages yet.  Start collaborating!"
-if @message
	%div.panel.smaller-font
		%p From: #{link_to "#{User.find_by_id(@message.sender).username}", user_path(@message.sender)}
		%p Subject: #{@message.subject}
		%hr
		%p= @message.body
		=form_for :message, :url => {:action => 'create', :controller => 'messages'} do |f|
			=f.text_area :body, :value => '', :placeholder => 'Enter your message.', :size => '40x5'
			=f.hidden_field :subject, value: "RE:#{@message.subject}"
			=f.hidden_field :parent_id, value: @message.id
			=f.hidden_field :receiver, value: @message.sender
			=f.submit 'Reply'

-else
	%div.panel.panel3.smaller-font
		%b New Message
		%div.newMessage
			=form_for :message, :url => {:action => 'create', :controller => 'messages'} do |f|
				=f.text_field :receiver, :placeholder => 'To: Username', :size => 30
				=f.text_field :subject, :placeholder => 'Subject', :size => 30
				=f.text_area :body, :placeholder => 'Enter your message.', :size => "40x20"
				%br
				=f.submit 'Send'




/ -else
/ 	%div.panel1
/ 		%b New Message
/ 		%div.newMessage
/ 			=form_tag :action => 'create', :controller => 'messages', :method => :get
/ 			=text_field_tag :receiver, nil, :placeholder => 'To: Username', :size => 30
/ 			=text_field_tag :subject, nil, :placeholder => 'Subject', :size => 30
/ 			=text_area_tag :message, nil, :placeholder => 'Enter your message.', :size => "40x20"
/ 			%br
/ 			=submit_tag 'Send'

