-# in app/views/ideas/show.html.haml
%div.panel
  -if @current_user != @idea.user_id
    %h2 You do not have access to this page.
  -else  
    %div.centralIdea
      = form_tag idea_path(@idea), :method => :put do

        = text_field :idea, 'title'

        %ul#details
          %li
            Created By:
            = link_to "#{@user.name}", user_path(User.find_by_id(@user.id))

          %li
            Points:
            = @idea.rank

        %h3 Description:

        = text_area :idea, 'description', :size => '30x7', :id => 'description'
        %br 
        
        = label :idea, :privacy, "Make Private" 
        = check_box_tag 'privacy', 1, (@idea.privacy=='private'), :id=>"Make Private"

        =submit_tag 'Save and Post'
      =#Colin added 4/18 for showing existing collaborators if any exist
      %br
      -if not @idea.collaborators.empty? 
        %table
          %thead
            %tr
              %th Collaborators
          %tbody#collaborators
            - @idea.collaborators.each do |user|
              %tr
                %td= user.name
                %td= link_to '(x)', idea_path(@idea, :delete_collaborator => user.id), :method => :put

      =#Colin added 4/18 for adding collaborators:
      =form_tag idea_path(@idea), :method => :put do
        =label :idea, :collaborator, "Add Collaborator:"
        =text_field_tag :collaborator, nil, :placeholder => 'Enter username'
        =submit_tag 'Add Collaborator'
      =#Colin added 5/2 for showing existing tags if any exist
      %br
      -if not @idea.tags.empty? 
        %table
          %thead
            %tr
              %th Tags
          %tbody#taglist
            - @idea.tags.each do |tag|
              %tr
                %td= tag.category 
                %td= link_to '(x)', idea_path(@idea, :delete_tag => tag.id), :method => :put       
      =#Colin added 5/2 for adding tags:
      =form_tag idea_path(@idea), :method => :put do
        =label :idea, :tag, "Add topic tag:"
        =text_field_tag :tag, nil, :placeholder => 'Enter topic'
        =submit_tag 'Add Tag'    

      =#Colin removed edit link since we are already on edit page 4/19:
      %header
        %br
        -if @current_user==@user.id
          = button_to 'Delete Idea', idea_path(@idea), :method => :delete, :confirm => 'Are you sure?'
        -else
          = link_to 'home', root_path


    = link_to 'Back to idea list', ideas_path
