-# in app/views/ideas/show.html.haml
-if @idea.privacy == 'public' or @idea.collaborator_ids.include? @current_user or @idea.user_id == @current_user 
  %div{:name=>"idea", :class => "idea"}
    %h2 #{@idea.title}

    %ul#details
      %li
        Created By:
        = link_to "#{@user.name}", user_path(User.find_by_id(@user.id))

      %li
        Points:
        = @idea.rank

    %h3 Description:

    %p#description= @idea.description
    -#5/2 Colin added;
    %br
    -if not @tags.empty? 
      %table#collaborators
        %tbody
          - @tags.each do |tag|
            %tr
              %td= tag.category
    %header
      -if @current_user==@user.id
        = link_to 'Edit', edit_idea_path(@idea)
        = button_to 'Delete', idea_path(@idea), :method => :delete, :confirm => 'Are you sure?'
      -else

  -#The problem was indentation. If it happens again tell me via email asap
  -#Lindsey Stratton
  -#Making a box for comments

  %div{:name=>"commentbox", :class => "commentbox"}
    -if @current_user != nil
      = link_to 'Post comment', new_idea_comment_path(@idea.id)
    -else

    -#= link_to 'All comments', idea_comments_path(@idea.id)
    = render :template => 'comments/index'
    -#=render :partial => 'show_comments'
    
-else
  %h2 You do not have permission to access this idea

