-# in app/views/ideas/show.html.haml
%div{:name=>"centralIdea", :class => "centralIdea"} 
  %h2 #{@idea.title}

  %ul#details
    %li
      Created By:
      = link_to "#{@user.name}", user_path(User.find_by_id(@user.id))

    %li
      Points:
      = @idea.rank

  %h3 Description:

  %p#description= @idea.description
  %header
    -if @active_user==@user
      = link_to 'Edit', edit_idea_path(@idea)
      = button_to 'Delete', idea_path(@idea), :method => :delete, :confirm => 'Are you sure?'
    -else
      = link_to 'home', home_index_path

= link_to 'Back to home page', home_index_path