-# in app/views/ideas/show.html.haml
-if @idea.privacy == 'public' or @idea.collaborator_ids.include? @current_user or @idea.user_id == @current_user 
  %div{:name=>"idea", :class => "idea"}
    -#Colin added 5/2
    %h2 #{@idea.title}

    %ul#details
      %li
        Created By:
        = link_to "#{@user.name}", user_path(User.find_by_id(@user.id))

      %li
        Points:
        = @idea.rank

    %h3 Description:

    %p#description= @idea.description
    -#5/2 Colin added;
    %br

    %header
      -if @current_user==@user.id
        = link_to 'Edit', edit_idea_path(@idea)
        = button_to 'Delete', idea_path(@idea), :method => :delete, :confirm => 'Are you sure?'
      -else
    -if not @tags.empty?
      Tags: 
      %table#taglist
        %tbody
          - @tags.each do |tag|
            %td= link_to tag.category, root_path(:search => tag.category)

    -if @current_user and not @idea.collaborator_ids.include? @current_user and ! (@current_user == @idea.user_id)
      = link_to 'Subscribe to this idea', idea_path(@idea, :subscriber => @current_user), :method => :put, :class => "subscription"


  -#The problem was indentation. If it happens again tell me via email asap
  -#Lindsey Stratton
  -#Making a box for comments

  %div{:name=>"commentbox", :class => "commentbox"}
    -if @current_user != nil
      = link_to 'Post comment', new_idea_comment_path(@idea.id)
      %br

    -#= link_to 'All comments', idea_comments_path(@idea.id)
    = render :template => 'comments/index'
    -#=render :partial => 'show_comments'
    
-else
  %h2 You do not have permission to access this idea


