-# in app/views/ideas/show.html.haml
%div{:name=>"centralIdea", :class => "centralIdea"} 
  %h2 #{@idea.title}

  %ul#details
    %li
      Created By:
      = @user.name

    %li
      Points:
      = @idea.rank

  %h3 Description:

  %p#description= @idea.description
  %header
    = link_to 'Edit', edit_idea_path(@idea)
    = button_to 'Delete', idea_path(@idea), :method => :delete, :confirm => 'Are you sure?'
= link_to 'Back to idea list', ideas_path