-#some of the the aspects of the table are for debugging

-#%h1 Listing commments for #{@idea.title}

%table#comments
  %thread
    %tr
      %th User
      %th Body
      %th Rank
      %th Upvote
      %th Downvote   
      
    %tbody
    - @comments.each do |comment|
      %tr
        %td= comment.user.name
        %td= comment.text
        %td= comment.rank
        %td= link_to "+", comments_upvote_path(:id => comment.id)
        %td= link_to "-", comments_downvote_path(:id => comment.id)
        

-#= link_to 'Back to idea list', ideas_path(@idea.id)
