//Rachel

%header
	= image_tag "logo_example.jpg", :size => "250x70", :alt => "Brainstormy logo"
	= submit_tag 'Search', :class => 'search'
	= text_field_tag :search, nil, :size => 20, :class => 'search'

%h2 #{@user.username}
 
%div{:name => 'profile_picture', :class => 'profile_picture'}
	%b Profile picture

%div{:name=>"profile_info", :class => "profile_info"} 
	%b Edit Profile
	= form_tag user_path(@user), :method => :put do
 
		= label :user, :username, 'Username'
		= text_field :user, 'username'
 
		= label :user, :name, 'Name'
		= text_field :user, :name, 'name'

		= label :user, :email, 'Email'
		= text_field :user, 'email1'
 
		= label :user, :email, 'Re-enter Email'
		= text_field :user, :email, 'email2'
 
		= label :user, :password, 'Password'
		= text_field :user, :password, 'password1'

		= label :user, :username, 'Re-enter Password'
		= text_field :user, 'password2'
 
		= label :user, :credential, 'Credential'
		= text_field :user, :credential, 'credential'
 
	= submit_tag 'Save Changes'

%div{:name => 'bio', :class => 'bio'}
	%b Biography
	=@user.bio