%div.col1
	- if !@current_user
		%div.panel4
			%b Sign In
			%div.content
				= form_for :user, :url => {:action => "create_session", :controller => "application"} do |f|
					= f.text_field :username_login, :placeholder => 'Username', :size => 30 
					%br
					= f.password_field :password_login, :placeholder => 'Password', :size => 30 
					%br
					= f.hidden_field :login, :value => true
					= f.submit 'Login'

				%hr
				%b Sign Up
				=form_for :user, :url => {:action => "create", :controller=>"users"} do |f|
					= f.text_field :username, :placeholder => 'Username', :size => 30
					%br
					= f.text_field :name, :placeholder => 'Name', :size => 30 
					%br
					= f.text_field :email, :placeholder => 'E-mail', :size => 30#, :id =>'email'
					%br
					= f.text_field :email_confirmation, :placeholder => 'Re-enter E-mail', :size => 30
					%br
					= f.password_field :password, :placeholder => 'Password', :size => 30
					%br
					= f.password_field :password_confirmation, :placeholder => 'Re-enter Password', :size => 30
					%br
					= f.submit 'Sign Up'
	- else
		%div.panel1{:class => ("panel1LoggedIn" if @current_user)}
			%b Post An Idea
			%br
			= form_for :idea, :url => {:action => "create", :controller => "ideas"} do |f|
				=#Colin added hidden_field_tag needed to credit idea to correct user 
				= hidden_field_tag(:user_id, @current_user)
				=#Colin added HTML id tag
				= f.text_area :title, :placeholder => 'Enter your idea.', :size => "35x5", :id => 'title'
				%br
				= f.submit 'Post an Idea'

	-if @current_user
		%div.panel2
			%b New Messages
			%br
			%table#messages
				%tbody
					- if @messages
						-@messages.each do |message|
							-if message.status == "unread"
								%tr.highlight
									%td#home1= link_to "#{User.find_by_id(message.sender).username}", user_path(message.sender)
									%td#home2= link_to "#{message.subject}", message_path(message.id)
					-else
						%tr
							%td= "You have no new messages"



%div.panel
	%b Popular Ideas
	//Christie - Listing ideas
	%table#main
		%tbody
			- if @pop_ideas
				-@pop_ideas.each do |idea|
					%tr
						%td= link_to "#{idea.title}", idea_path(idea)
						/ %td= "" if !idea.description I don't think this is nessecary and there is no room.  We can talk about it more
						%td= idea.rank
			-if @searched_users
				-@searched_users.each do |user|
					%tr
						%td= link_to "#{user.username}", user_path(user)
						/ %td= "" if !user.description I don't think this is nessecary and there is no room.  We can talk about it more

%div.panel
	-if !@current_user
		%div.aboutSite
			%b About Brainstormy
			%br
			%p Brainstormy is a collaborative brainstorming and idea refinement tool that lets you work together with friends, colleagues, or strangers to take your ideas from an initial glimmer to a full-fledged actionable project.  Our easy-to-use features provide a powerful means for an initial concept to be debated, expanded, and improved upon via an innovative vote-based framework.
			%p Sign up for an account today and then…
			%p	
				%b Post 
				a new idea and get feedback, insights, and advice from other users.
			%p 
				%b Connect 
				with experts from your field and benefit from their perspective and experience.
			%p
				%b Join 
				an idea in progress and enhance it with your unique viewpoint and vision. 
			%p
				%b Boost 
				your company’s creative productivity by launching a private idea network and taking full advantage of your employees’ brainpower.

	-else
		%div.newsFeed
			%b News Feed
			%br
			%table#main
				%tbody
				-if @updated
					-@updated.each do |idea| 
						%tr
							%td= link_to "#{idea.title}", idea_path(idea)
				-else
					There doesn't seem to be anything new.
