!!! 5
%html
  %head
    %title Brainstormy
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    =csrf_meta_tags

  %body
  %header
  = image_tag "logo_example.jpg", :size => "250x70", :alt => "Brainstormy logo"
  -if @current_user
    %h2 #{User.find_by_id(@current_user).username}
    = link_to 'Logout', application_logout_user_path
  = submit_tag 'Search', :class => 'search'
  = text_field_tag :search, nil, :size => 20, :class => 'search'
  #main
    - [:notice, :warning].each do |key|
      -if flash[key]
        %p{:class => "flash#{key}"}= flash[key]
    = yield

