!!! 5
%html
  %head
    %title Brainstormy
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    =csrf_meta_tags

  %body
  %div#container
    %header
      = link_to(image_tag("logo_example.jpg", :size => "250x70", :alt => "Brainstormy logo"), root_path, :id => "logo")
      - [:notice, :warning].each do |key|
        -if flash[key]
          %p{:class => "flash#{key} flash"}= flash[key]
      %div{:class => 'search'}
        = form_tag('/home/index') do
          = submit_tag 'Search'
          = search_field_tag 'search', nil, :size => 20
    #main    
      = yield

    -if @current_user
      %footer
        %div{:class => 'usernamePos'}
          = link_to "#{User.find_by_id(@current_user).username}", user_path(@current_user), :class => "username"
        = link_to(image_tag("64_logout.png", :size => "25x25", :alt => "Log out"), application_logout_user_path, :id => "logout")
        / # = link_to 'Logout', application_logout_user_path, :id => "logout"

